<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>FrinedWeb</display-name>
	
	<servlet>
        <servlet-name>CountFriends</servlet-name>
        <servlet-class>com.ibm.pumpsoft.CountFriends</servlet-class>
    </servlet>
		
	<servlet-mapping>
		<servlet-name>CountFriends</servlet-name>
		<url-pattern>
			/CountFriends
		</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
        <servlet-name>FriendsList</servlet-name>
        <servlet-class>com.ibm.pumpsoft.FriendsList</servlet-class>
    </servlet>
		
	<servlet-mapping>
		<servlet-name>FriendsList</servlet-name>
		<url-pattern>
			/FriendsList
		</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
        <servlet-name>IsFriend</servlet-name>
        <servlet-class>com.ibm.pumpsoft.IsFriend</servlet-class>
    </servlet>
		
	<servlet-mapping>
		<servlet-name>IsFriend</servlet-name>
		<url-pattern>
			/IsFriend
		</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
        <servlet-name>UserInfo</servlet-name>
        <servlet-class>com.ibm.pumpsoft.UserInfo</servlet-class>
    </servlet>
		
	<servlet-mapping>
		<servlet-name>UserInfo</servlet-name>
		<url-pattern>
			/UserInfo
		</url-pattern>
	</servlet-mapping>
	
	
	
	<servlet>
        <servlet-name>InsertFriend</servlet-name>
        <servlet-class>com.ibm.pumpsoft.InsertFriend</servlet-class>
    </servlet>
		
	<servlet-mapping>
		<servlet-name>InsertFriend</servlet-name>
		<url-pattern>
			/InsertFriend
		</url-pattern>
	</servlet-mapping>
	
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>