<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>LoginWeb</display-name>
	
	
	
	<servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.ibm.pumpsoft.Login</servlet-class>
    </servlet>
	
	
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>
		/Login
		</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
        <servlet-name>InsertUser</servlet-name>
        <servlet-class>com.ibm.pumpsoft.InsertUser</servlet-class>
    </servlet>
	
	
	<servlet-mapping>
		<servlet-name>InsertUser</servlet-name>
		<url-pattern>
		/InsertUser
		</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
        <servlet-name>UpdateUserPoint</servlet-name>
        <servlet-class>com.ibm.pumpsoft.UpdateUserPoint</servlet-class>
    </servlet>
	
	
	<servlet-mapping>
		<servlet-name>UpdateUserPoint</servlet-name>
		<url-pattern>
		/UpdateUserPoint
		</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
        <servlet-name>UpdateUserGrade</servlet-name>
        <servlet-class>com.ibm.pumpsoft.UpdateUserGrade</servlet-class>
    </servlet>
	
	
	<servlet-mapping>
		<servlet-name>UpdateUserGrade</servlet-name>
		<url-pattern>
		/UpdateUserGrade
		</url-pattern>
	</servlet-mapping>
	
	<servlet>
        <servlet-name>GetPoint</servlet-name>
        <servlet-class>com.ibm.pumpsoft.GetPoint</servlet-class>
    </servlet>
	
	
	<servlet-mapping>
		<servlet-name>GetPoint</servlet-name>
		<url-pattern>
		/GetPoint
		</url-pattern>
	</servlet-mapping>
	
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>